/*
style the ______:
- thing 1
- thing 2
- thing 3
*/
body{
    background-color: white;
  }
  
/*
style the ______:
- thing 1
- thing 2
- thing 3
*/
body{
    background-color: white;
  }
  

/*
style the ______:
- thing 1
- thing 2
- thing 3
*/
body{
    background-color: white;
  }
  

  /*
style the ______:
- thing 1
- thing 2
- thing 3
*/
body{
    background-color: white;
  }
  